# Variables per Docker Compose (quan s'executa amb docker compose up)
# Copiar a .env i omplir els valors

# Backend
GEMINI_API_KEY=

# Frontend
NUXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NUXT_PUBLIC_SUPABASE_ANON_KEY=
NUXT_PUBLIC_API_URL=http://localhost:3001
